body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}
.header-images {
    display: flex;
    justify-content: space-between;/* for the left, middle right */
    align-items: center;
    margin-bottom: -70px;
}
.header-images img {
    width: 15%;
    border-radius: 20px;
}
header {
    background-color: #2b6cb0;
    color: white;
    padding: 20px ;
}
h1 {
    margin: 0;
}
section {
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
}
table, th td {
    padding: 10px;
    border: 1px solid #ccc;
}
.booking form {
    background: #2b6cb0;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border: 5px;
}
label {
    display: block;
    margin-top: 12px;
}
input, select, button {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
button {
    background-color: black;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 15px;
    cursor: pointer;
}
button:hover {
    background-color: #1a4f85;
}
/* The ticket style */
.ticket {
    border: 2px dashed #2b6cb0;
    padding: 20px;
    margin: 20px auto;
    /* background image with light overlay for readability */
    background: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url("princess v1.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    color: #0b2a4a;
}
.ticket logo {
    width: 100px;
    margin: bottom 10px;;
}
.ticket h2 {
    margin: 5px 0;
    color: #2b6cb0;
}

.ticket .ticket-date {
    margin-top: 8px;
    font-size: 0.95rem;
    color: #42627a;
    font-weight: 500;
}
.hidden {
    display: none;
}